/*general styles*/

header{
  height:200px;
  width:1200px;
  margin: auto;
  background: linear-gradient(45deg,#585a5a, transparent 80%),  url("header.png");
  background-position: center;
}
.logo{
  padding:5px 10px;

}

h1,h2{
  padding:10px 20px;
  color:white;
  font-family:cursive, Arial, Helvetica, sans-serif;  
}
h3{
  text-align:center;
}
nav ul{
 display:flex;
 margin:0 50px;
 padding:5px 10px;
 justify-content:space-around;
}
h3
{
  line-height: 2em;
  font-family: cursive;
  font-size: 1.5em;
  text-align:center;
}
/* intro section styles */
hr{
  width:20%;
}
.prof-image{
  height: 400px;
  border: 10px double orangered;
  border-radius: 40%;
  text-align:left;
}
.intro{
font-size:1.5em;
line-height: 1.5;
font-family: monospace;
text-align:center;
margin: 20px 50px;
}
/* about-me and closing section styles */
.partition p{
text-align:center;
font-size:2em;
background:linear-gradient(rgb(140, 186, 229),white 120%);
margin:0 auto;
}
div{
text-align:center; /*later create 't-borders' and add img's and p's  */
}
div p{
  padding:0 33%;
}
.interest-section{
  margin: auto;
  text-align:center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.interest-image{
  width:33%;
  display:inline-block;
}
.interest-pic{
 height:100px;
 margin:0 20px;
}
a:link{
  color:orangered;
}
a:visited{
  color:blue;
}
a:hover{
color:orange;
}
.list-opening, .closing{
  font-size: 2em;
  font-family:cursive;
  text-align:center;
  list-style-position: inside;
}
